@import "tailwindcss";
@import 'ngx-toastr/toastr';
/* @import 'ngx-toastr/toastr'; */

body {
  background-color: #F3F4F6;
}

.overflow-hidden {
  overflow: hidden;
  position: relative;
}

.toast-top-center-custom {
  top: 2rem !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}
